@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: #6d7f97;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
}