.toggle {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>* {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}

.t-button {
    border-radius: 100%;
    background: white;
    position: absolute;
}


.toggleLight>*{
    width: 1.5rem;
    height: 1.5rem;
    color: black;
}

.t-buttonLight {
    border-radius: 100%;
    background: black;
    position: absolute;
}