@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* font-family: 'Karla',sans-serif; */
/* font-family: 'DM Serif Display',serif; */



:root {
    ---dark-violet: hsl(256, 26%, 20%);
    ---grayish-blue: hsl(216, 30%, 68%);
    ---very-dark-violet: hsl(270, 9%, 17%);
    ---dark-grayish-violet: hsl(273, 4%, 51%);
    ---very-light-gray: hsl(0, 0%, 98%)
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: var(---very-light-gray);
   
    font-family: 'DM Serif Display', serif;
    
}